<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.android.ble"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- 请求连接 / 接受连接 / 传输数据 -->
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <!-- 设备扫描 / 管理蓝牙设置 + BLUETOOTH权限 -->
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

  <!-- 声明应用程序只能在支持BLE的设备上运行 -->
  <uses-feature
      android:name="android.hardware.bluetooth_le"
      android:required="true"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>
